*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(236, 235, 235);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 100vh;
    background-image: url(./pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo-container{
        width: 30vw;
        height: 15em;
display: flex;
justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    margin-bottom: 40vh;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
}

p {
    font-family: sans-serif;
}

.first-text{
    font-size: 20px;

}
.form-container{
    background-color: aquamarine;
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: center;
}
form{
    display: flex;
    flex-wrap: wrap;;
    align-items: center;
    width: 70%;
    height: 50vh;

}
.pair{
    display: flex;
    flex-direction: column;
    width: 20em;
    font-size: 20px;
    margin-left: 1vw;
}
.pair input{
border: none;
height: 2em;
}

